
@media all and (max-width:575px) {
    p {
        text-align: justify;
    }
}

@media all and (min-width:576px) and (max-width:767px) {
    p {
        text-align: justify;
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    .text-box {
        position: absolute;
        background-color: rgba(256,256,256,0.3);
    }
    p {
        text-align: center;
    }  
}

@media all and (min-width:992px) and (max-width:1199px) {
    p {
        text-align: center;
    }  
}

@media all and (min-width:1200px) and (max-width:1399x) {
    p {
        text-align: justify;
    }   
}

@media all and (min-width:1400px) {
    p {
        text-align: justify;
    }  
}