* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(255, 253, 231);
    overflow-x: hidden;
}

.container {
    height: fit-content;
    width: 100%;
}

.frame {
    position: relative;
    height: 700px;
    width: 700px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 4px inset;
}

.bg {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(113, 230, 191);
    box-shadow: 0px 0px 3px inset;
    padding: 30px;
}

.center {
    width: 39px;
    height: 39px;
    background-color: red;
    position: relative;
    border-radius: 50%;
    z-index: 1;
}

.hours {
    width: 90%;
    height: fit-content;
    position: absolute;
    display: flex;
    transform-origin: center;
}

.hours button {
    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 1px black;
    background-color: transparent;
}

.hours button:nth-of-type(1) {
    margin-right: auto
}

.hours button:nth-of-type(2) {
    margin-left: auto;
}

.hours:nth-of-type(1) {
    width: 88%;
    rotate: -60deg;
}

.hours:nth-of-type(2) {
    width: 88%;
    rotate: -30deg;
}

.hours:nth-of-type(3) {
    rotate: 0deg;
}

.hours:nth-of-type(4) {
    rotate: 30deg;
    left: 20px;
}

.hours:nth-of-type(5) {
    rotate: 60deg;
}

.hours:nth-of-type(6) {
    rotate: 90deg;
    top: 270px;
}

/* ..........numbers rotation........... */

#n1 {
    rotate: 60deg;
}
#n2{
    rotate: 60deg;
}
#n3{
    rotate: 30deg;
}
#n4{
    rotate: 30deg;
}
#n7{
    rotate: -30deg;
}
#n8{
    rotate: -30deg;
}
#n9{
    rotate: -60deg;
}
#n10{
    rotate: -60deg;
}
#n11{
    rotate: -90deg;
}
#n12{
    rotate: -90deg;
}

/* .........clock hands............. */

.hand-holder {
    width: 65%;
    height: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: transparent;
}

.sec, .min, .hour {
    width: 50%;
    border-radius: 30px;
    position: absolute;
    background-color: transparent;
}

.sec {
    height: 3px;
    top: 49.5%;
    transform-origin: right;
    transform: rotate(90deg);
}

.sec div {
    width: 90%;
    height: 100%;
    margin-left: auto;
    border-radius: 30px;
    background-color: red;
}

.min {
    height: 15px;
    top: 48.2%;
    transform-origin: right;
}

.min div {
    width: 85%;
    height: 100%;
    margin-left: auto;
    border-radius: 30px;
    background-color: rgb(40,40,40);
}

.hour {
    height: 30px;
    transform-origin: right;
    top: 47%;
}

.hour div {
    width: 73%;
    height: 100%;
    margin-left: auto;
    border-radius: 30px;
    background-color: rgb(40, 40, 40);
}