html,
body {
    width: 100% !important;
    overflow-x: hidden !important;
}

body {
    background: #f7f6ee;
}

#favicon-img {
    overflow: hidden;
    border-radius: 50%;
}

/* ..............Header.................. */

.nav-bar {
    height: 120px;
    margin: 0;
}

.nav-bar a {
    width: fit-content;
    font-family: "Gloria Hallelujah", cursive;
}

#navbarSupportedContent {
    position: absolute;
    background: #f7f6ee;
    z-index: 1;
    width: 100%;
    top: 120px;
    padding: 0px 0px 20px 90px;
}

.navbar-nav {
    margin-right: 80px;
}

.customized-nav-link::after {
    content:"";
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    transform-origin: left;
    transform:scaleX(0);
    transition: all 250ms ease 0s;
}

.customized-nav-link:hover::after {
    transform:scaleX(1);
}

/* ..............Header-scroll.................. */

#scroller {
    display: none;
    animation-name: fade-in;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
}

#scroller .nav-bar {
    height: 79px;
    margin: 0;
}

#scroller #navbarSupportedContent {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    top: 0px;
    padding: 10px 0px 15px 90px;
}

#scroller .nav-bar {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    top: 0;
    padding: 10px 0px 15px 90px;
}

#scroller .navbar-toggler {
    right: 35px;
}

#scroller .customized-nav-link::after {
    content:"";
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(210 210 210);
    transform-origin: left;
    transform:scaleX(0);
    transition: all 250ms ease 0s;
}

#scroller .customized-nav-link:hover::after {
    transform:scaleX(1);
}

/* ....................main................... */
.contact-h h1 {
    width: fit-content;
    color: #007769;
    font-family: "Luckiest Guy", cursive;
    letter-spacing: 4px;
}
.contact-h div {
    height: 4px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.65);
}

.text-box {
    color: #fffdea;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: "Handlee", cursive;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.text-box p{
    width: fit-content;
}
.text-box-md {
    font-family: "Handlee", cursive;
    font-weight: bold;
    letter-spacing: 1px;
}

/* ...................footer................... */

.footer-circle {
    width: 60px;
    height: 60px;
}

footer i {
    color: #e77689;
}

footer i {
    transition: all 350ms ease 0s;
}

footer a:hover i {
    color: #c95a6c;
}

/* .............scrollbar............ */

::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    background: #f7f6ee;
}
::-webkit-scrollbar-thumb {
    background: #e6e3c9;
}
::-webkit-scrollbar-thumb:hover {
    background: #dbd8bd;
}

/* ..................fade.............. */

#fader {
    background: #f7f6ee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

@media all and (max-width:575px) {
    #navbarSupportedContent {
        left: 0;
    }
    #navbarSupportedContent a {
        margin-left: -40px;
    }
    .navbar-brand {
        width: 170px !important;
        margin: 0% 0% 0% 5% ;
    }
    #scrolling-logo {
        width: 160px;
    }
    #scroller #navbarSupportedContent {
        top: 78px;
    }
    .text-box {
        height: 800px !important;
        background-image: url(../images/no-watermark/snow-man-darker.jpg);
        background-size: 118%;
    }
}

@media all and (min-width:576px) and (max-width:767px) {
    #navbarSupportedContent {
        left: 0;
    }
    .navbar-brand {
        width: 200px !important;
        margin: 0 0 0 45px;
    }
    #scrolling-logo {
        width: 180px;
    }
    #scroller #navbarSupportedContent {
        top: 78px;
    }
    .text-box {
        height: 800px !important;
        background-image: url(../images/no-watermark/snow-man-darker.jpg);
        background-size: 100%;
        background-position-y: -500px;
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    #navbarSupportedContent {
        left: 0;
    }
    .navbar-brand {
        width: 200px !important;
        margin: 0 0 0 45px;
    }
    #scrolling-logo {
        width: 180px;
    }
    #scroller #navbarSupportedContent {
        top: 78px;
    }
}

@media all and (min-width:992px) and (max-width:1199px) {
    .navbar-brand {
        width: 17% !important;
        margin: 10px 0 0 45px;
    }
    a:has(#scrolling-logo) {
        margin-top: 4px !important;
    }
    #scrolling-logo {
        width: 160px;
    }
    #navbarSupportedContent {
        width: fit-content;
        top: 45px;
        right: 0;
    }
    .snowman {
        height: 800px;
        width: 358px !important;
    }
}

@media all and (min-width:1200px) and (max-width:1399px) {
    #navbarSupportedContent {
        width: fit-content;
        top: 45px;
        right: 0;
    }
    .navbar-brand {
        width: 15% !important;
        margin: 10px 0 0 45px;
    }
    a:has(#scrolling-logo) {
        margin-top: 4px !important;
    }
    #scrolling-logo {
        width: 170px;
    }
    .snowman {
        height: 800px;
        width: 358px !important;
    }
}

@media all and (min-width:1400px) {
        #navbarSupportedContent {
        width: fit-content;
        top: 45px;
        right: 0;
    }
    .navbar-brand {
        width: 15% !important;
        margin: 10px 0 0 5%;
    }
    a:has(#scrolling-logo) {
        margin-top: 4px !important;
    }
    #scrolling-logo {
        width: 200px;
    }
    .snowman {
        height: 800px;
        width: 358px !important;
    }
}
