body {
    background: #f7f6ee;
    overflow-x: hidden !important;
}

#content1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: min-content;
    grid-row-gap: 15px;
}

#content2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: min-content;
    grid-row-gap: 15px;
}

#content3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: min-content;
    grid-row-gap: 15px;
}

#content div div {
    height: fit-content;
    overflow: hidden;
    border-radius: 20px;
}

#content div img {
    width: 100%;
}

/* ...............iframe................. */

iframe {
    width: 100%;
    height: 100%;
}

#frame {
    display: none;
    width: 99.1%;
    height: 98%;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

#frame div {
    position: absolute;
    z-index: 2;
    top: 15px;
    right: 15px;
}

#frame div i {
    font-size: 40px;
    font-weight: bolder; 
}

/* .............scrollbar............ */

::-webkit-scrollbar {
    width:0px;
}
/* ::-webkit-scrollbar-track {
    background: #f7f6ee;
}
::-webkit-scrollbar-thumb {
    background: #e6e3c9;
}
::-webkit-scrollbar-thumb:hover {
    background: #dbd8bd;
} */

/* ..................fade.............. */

#fader {
    background: #f7f6ee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

@media all and (max-width:575px) {
    #content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 15px;
    }
    .box18-md-lg, .box2-md-lg, .box17-md-lg, .box19-md-lg {
        display: none;
    }
}

@media all and (min-width:576px) and (max-width:767px) {
    #content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3, auto);
        grid-gap: 15px;
    }
    .box18-md-lg, .box2-md-lg, .box17-md-lg, .box19-md-lg {
        display: none;
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    #content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }
    .box18-md-lg, .box2-md-lg, .box17-md-lg, .box19-md-lg {
        display: flex;
    }
    .box2, .box17, .box18, .box19 {
        display: none;
    }
}

@media all and (min-width:992px) and (max-width:1199px) {
    #content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 15px;
    }
    .box18-md-lg, .box2-md-lg, .box17-md-lg, .box19-md-lg {
        display: flex;
    }
    .box2, .box17, .box18, .box19 {
        display: none;
    }
}

@media all and (min-width:1200px) and (max-width:1399px) {
    #content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 15px;
    }
    
    .box18-md-lg, .box2-md-lg, .box17-md-lg, .box19-md-lg {
        display: none;
    }
}

@media all and (min-width:1400px) {
    #content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: min-content;
        grid-gap: 15px;
    }
    .box18-md-lg, .box2-md-lg, .box17-md-lg, .box19-md-lg {
        display: none;
    }
}