body {
    background: #f7f6ee;
}

#favicon-img {
    overflow: hidden;
    border-radius: 50%;
}

/* ..............Header.................. */

.nav-bar {
    height: 120px;
    margin: 0;
}

.nav-bar a {
    width: fit-content;
}

#navbarSupportedContent {
    position: absolute;
    background: #f7f6ee;
    width: 100%;
    top: 120px;
    padding: 0px 0px 20px 90px;
}

.navbar-nav {
    margin-right: 80px;
}

.customized-nav-link::after {
    content:"";
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    transform-origin: left;
    transform:scaleX(0);
    transition: all 250ms ease 0s;
}

.customized-nav-link:hover::after {
    transform:scaleX(1);
}

/* ..............Header-scroll.................. */

#scroller {
    display: none;
    animation-name: fade-in;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
}

#scroller .nav-bar {
    height: 79px;
    margin: 0;
}

#scroller #navbarSupportedContent {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    top: 0px;
    padding: 10px 0px 15px 90px;
}

#scroller .nav-bar {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    top: 0;
    padding: 10px 0px 15px 90px;
}

#scroller .navbar-toggler {
    right: 35px;
}

#scroller .customized-nav-link::after {
    content:"";
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(210 210 210);
    transform-origin: left;
    transform:scaleX(0);
    transition: all 250ms ease 0s;
}

#scroller .customized-nav-link:hover::after {
    transform:scaleX(1);
}

/* ....................main................... */

.under-header {
    font-family: serif;
}

.img-parent img {
    width: 350px;
    height: 350px;
}

.bottom-birds div:nth-of-type(2) {
    transform: scaleX(-1)
}

.center-hover{
    background-color: black;
    opacity: 0;
    top: 0;
    transition: all 150ms ease 0s;
}

a:has(>.center-hover):hover .center-hover {
    opacity: 0.3;
}

a:has(>.center-hover) {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.center-hover-txt {
    width: 100%;
    position: absolute;
    text-align: center;
    line-height: 280px;
    top: 0;
    font-family: serif;
    letter-spacing: 2px;
    z-index: 1;
    opacity: 0;
    transition: all 300ms ease 0s;
}

/* ...................footer................... */

/* footer {
    height: 600px;
    background-image: url(../images/boarder_5.png);
    background-size: cover;
    background-position-y: 80%;
} */

.footer-circle {
    width: 60px;
    height: 60px;
}

footer i {
    color: #e77689;
}

footer i {
    transition: all 350ms ease 0s;
}

footer a:hover i {
    color: #c95a6c;
}

.copy-right {
    height: fit-content;
}

/* .............scrollbar............ */

::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    background: #f7f6ee;
}
::-webkit-scrollbar-thumb {
    background: #e6e3c9;
}
::-webkit-scrollbar-thumb:hover {
    background: #dbd8bd;
}

/* ..................fade.............. */

#fader {
    background: #f7f6ee;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

@media all and (max-width:575px) {
    #navbarSupportedContent a {
        margin-left: -40px;
    }
    .navbar-brand {
        width: 170px !important;
        margin: 0% 0% 0% 5% ;
    }
    #scrolling-logo {
        width: 160px;
    }
    #scroller #navbarSupportedContent {
        top: 78px;
    }
    .center-hover-txt {
        line-height: 730%;
        font-family: serif;
        opacity: 1;
        text-shadow: 2px 2px 4px black, -2px -2px 4px black;
    }
}

@media all and (min-width:576px) and (max-width:767px) {
    .navbar-brand {
        width: 200px !important;
        margin: 0 0 0 45px;
    }
    #scrolling-logo {
        width: 180px;
    }
    #scroller #navbarSupportedContent {
        top: 78px;
    }
    .center-hover-txt {
        line-height: 330px;
        font-family: serif;
        opacity: 1;
        text-shadow: 3px 3px 5px black;
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    #scroller #navbarSupportedContent {
        top: 78px;
    }
    .navbar-brand {
        width: 220px !important;
        margin: 0 0 0 45px;
    }
    #scrolling-logo {
        width: 180px;
    }
    .center-hover-txt:hover {
        opacity: 1;
        line-height: 350px;
    }
    .center-hover-txt {
        line-height: 350px;
        font-family: serif;
        opacity: 1;
        text-shadow: 3px 3px 5px black;
    }
}

@media all and (min-width:992px) and (max-width:1199px) {
    .navbar-brand {
        width: 20% !important;
        margin: 10px 0 0 45px;
    }
    a:has(#scrolling-logo) {
        margin-top: 4px !important;
    }
    #scrolling-logo {
        width: 160px;
    }
    #navbarSupportedContent {
        width: fit-content;
        top: 45px;
        right: 0;
    }
    .center-hover-txt:hover {
        opacity: 1;
        line-height: 350px;
    }
}

@media all and (min-width:1200px) and (max-width:1399px) {
    #navbarSupportedContent {
        width: fit-content;
        top: 45px;
        right: 0;
    }
    .navbar-brand {
        width: 18% !important;
        margin: 10px 0 0 45px;
    }
    a:has(#scrolling-logo) {
        margin-top: 4px !important;
    }
    #scrolling-logo {
        width: 170px;
    }
    .center-hover-txt:hover {
        opacity: 1;
        line-height: 350px;
    }
}

@media all and (min-width:1400px) {
    #navbarSupportedContent {
        width: fit-content;
        top: 45px;
        right: 0;
    }
    .navbar-brand {
        width: 18% !important;
        margin: 10px 0 0 5%;
    }
    a:has(#scrolling-logo) {
        margin-top: 4px !important;
    }
    #scrolling-logo {
        width: 200px;
    }
    .center-hover-txt:hover {
        opacity: 1;
        line-height: 350px;
    }
}
