* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(255, 253, 235);
}

form {
    width: fit-content;
    margin: 150px auto;
}

fieldset {
    width: fit-content;
    border: 2px solid black;
    padding: 40px;
    margin: auto;
    border-radius: 6px;
}

legend {
    font-size: 28px;
    font-family: serif;
    padding: 10px;
}

label {
    display: inline;
}

#input-holder {
    width: fit-content;
    display: flex;
    padding: 10px;
}

#input-holder label {
    font-size: 19px;
    width: 270px;
    padding-top: 8px;

}

#input-holder div {
    display: flex;
    position: relative;
    height: fit-content;
    overflow: hidden;
    width: fit-content;
}

#input-holder div input {
    height: 28px;
}

#input-holder div input:nth-of-type(2) {
    position: absolute;
    left: 400px;
    z-index: 1;
}

.password {
    width: 350px;
    font-size: 20px;
    border: 1px solid ;
    padding: 3px 8px;
    border-radius: 5px;
}

button {
    color: white;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background: rgb(0, 119, 255);
    cursor: pointer;
}

button:focus {
    background: rgb(0, 79, 168);
    font-size: 20px;
}
