a {
    text-decoration: none;
    color: black;
}

.new {
    width: fit-content;
    background-color: #2187fd;
}

.product {
    background-color: #f4f4f4;
}

.big-product {
    background-color: #f4f4f4;
}

a img {
    transform: scale(1);
    transition: all 300ms ease 0s;
}

.product p:nth-of-type(1) {
    font-weight: 600;
}

.big-product p:nth-of-type(2) {
    font-weight: 600;
}

#center-txt-box p:nth-of-type(1) {
    transform: translateY(0);
    transition: all 300ms ease 0s;
}

#center-txt-box p:nth-of-type(2) {
    border-radius: 7em / 7em;
    transform: translateY(0);
    transition: all 300ms ease 0s;
}

.text-box p:nth-of-type(1) {
    transform: translateY(0);
    transition: all 300ms ease 0s;
}

.text-box p:nth-of-type(2) {
    border-radius: 7em / 7em;
    transform: translateY(0);
    transition: all 300ms ease 0s;
}

@media all and (max-width:575px) {
    .product p {
        font-size: calc(3vw + 2px);
        margin-top: -30%;
        margin-bottom: 10%;
    }

    .big-product {
        background-color: #f4f4f4;
    }

    .big-product a div:nth-of-type(1) {
        width: 50%;
    }

    .big-product img {
        scale: 1.5;
        margin-top: 5%;
    }

    .new {
        font-size: calc(3vw + 1px);
        margin-top: 12%;
    }

    .big-product p:nth-of-type(2) {
        font-size: calc(3vw + 3.5px);
        text-align: left !important;
        margin-top: 21%;
        margin-bottom: 0;
    }
}

@media all and (min-width:576px) and (max-width:767px) {
    .product p:nth-of-type(1) {
        font-size: calc(1.1vw + 1px);
        margin-bottom: 3px;
    }

    .product div:nth-of-type(1) {
        margin-bottom: -30%;
    }

    .new {
        font-size: calc(1vw);
        top: 0;
        margin: 2.2% 0 0 1.5%;
    }

    .big-product p:nth-of-type(2) {
        font-size: calc(1vw + 5px);
        margin-top: -23%;
        margin-bottom: 3px;
    }

    #center-txt-box {
        height: 25px;
        margin-bottom: 0;
    }

    #center-txt-box p:nth-of-type(1) {
        font-size: calc(1.5vw);
    }

    a:hover #center-txt-box p:nth-of-type(1) {
        transform: translateY(-20px);
    }

    #center-txt-box p:nth-of-type(2) {
        font-size: calc(1.1vw);
        margin: 25px auto 0 auto;
    }

    a:hover #center-txt-box p:nth-of-type(2) {
        transform: translateY(-35px);
    }

    .text-box {
        height: 25px;
    }

    a:hover img {
        transform: scale(1.05);
    }

    .text-box p:nth-of-type(1) {
        color: rgb(125, 125, 125);
        font-size: calc(1vw);
    }

    a:hover .text-box p:nth-of-type(1) {
        transform: translateY(-20px);
    }

    .text-box p:nth-of-type(2) {
        font-size: calc(1.1vw);
        margin-top: 20px;
    }

    a:hover .text-box p:nth-of-type(2) {
        transform: translateY(-30px);
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    .product p:nth-of-type(1) {
        font-size: calc(1.3vw + 1px);
        margin-bottom: 3px;
    }

    .product div:nth-of-type(1) {
        margin-bottom: -30%;
    }

    .new {
        font-size: calc(1.2vw);
        top: 0;
        margin: 2.2% 0 0 1.5%;
    }

    .big-product p:nth-of-type(2) {
        font-size: calc(1.2vw + 5px);
        margin-top: -23%;
        margin-bottom: 3px;
    }

    #center-txt-box {
        height: 50px;
        margin-bottom: 0;
    }

    #center-txt-box p:nth-of-type(1) {
        font-size: calc(1.5vw);
    }

    a:hover #center-txt-box p:nth-of-type(1) {
        transform: translateY(-20px);
    }

    #center-txt-box p:nth-of-type(2) {
        font-size: calc(1.1vw);
        margin: 35px auto 0 auto;
    }

    a:hover #center-txt-box p:nth-of-type(2) {
        transform: translateY(-40px);
    }

    .text-box {
        height: 38px;
    }

    a:hover img {
        transform: scale(1.05);
    }

    .text-box p:nth-of-type(1) {
        color: rgb(125, 125, 125);
        font-size: calc(1vw);
    }

    a:hover .text-box p:nth-of-type(1) {
        transform: translateY(-24px);
    }

    .text-box p:nth-of-type(2) {
        font-size: calc(1.1vw);
        margin-top: 25px;
    }

    a:hover .text-box p:nth-of-type(2) {
        transform: translateY(-35px);
    }
}

@media all and (min-width:992px) and (max-width:1199px) {
    .product p:nth-of-type(1) {
        font-size: calc(1.3vw + 1px);
        margin-bottom: 4px;
    }

    .product div:nth-of-type(1) {
        margin-bottom: -30%;
    }

    .new {
        font-size: calc(1.2vw);
        top: 0;
        margin: 2.2% 0 0 1.5%;
    }

    .big-product p:nth-of-type(2) {
        font-size: calc(1.2vw + 5px);
        margin-top: -23%;
        margin-bottom: 4px;
    }

    #center-txt-box {
        height: 54px;
        margin-bottom: 0;
    }

    #center-txt-box p:nth-of-type(1) {
        font-size: calc(1.3vw);
    }

    a:hover #center-txt-box p:nth-of-type(1) {
        transform: translateY(-28px);
    }

    #center-txt-box p:nth-of-type(2) {
        font-size: calc(1.1vw);
        margin: 35px auto 0 auto;
    }

    a:hover #center-txt-box p:nth-of-type(2) {
        transform: translateY(-40px);
    }

    .text-box {
        height: 40px;
    }

    a:hover img {
        transform: scale(1.05);
    }

    .text-box p:nth-of-type(1) {
        color: rgb(125, 125, 125);
        font-size: calc(1vw);
    }

    a:hover .text-box p:nth-of-type(1) {
        transform: translateY(-27px);
    }

    .text-box p:nth-of-type(2) {
        font-size: calc(1.1vw);
        margin-top: 22px;
    }

    a:hover .text-box p:nth-of-type(2) {
        transform: translateY(-38px);
    }
}

@media all and (min-width:1200px) and (max-width:1399px) {
    .product {
        padding-bottom: 4% !important;
    }

    .product p:nth-of-type(1) {
        font-size: calc(1.3vw + 1px);
        margin-bottom: 4px;
    }

    .product div:nth-of-type(1) {
        margin-bottom: -30%;
    }

    .new {
        font-size: calc(1.2vw);
        top: 0;
        margin: 2.2% 0 0 1.5%;
    }

    .big-product {
        padding-bottom: 6.2% !important;
    }

    .big-product p:nth-of-type(2) {
        font-size: calc(1.2vw + 5px);
        margin-top: -23%;
        margin-bottom: 4px;
    }

    #center-txt-box {
        height: 59px;
        margin-bottom: 0;
    }

    #center-txt-box p:nth-of-type(1) {
        font-size: calc(1.3vw);
    }

    a:hover #center-txt-box p:nth-of-type(1) {
        transform: translateY(-40px);
    }

    #center-txt-box p:nth-of-type(2) {
        font-size: calc(1.1vw);
        padding: 1.8% !important;
        margin: 35px auto 0 auto;
    }

    a:hover #center-txt-box p:nth-of-type(2) {
        transform: translateY(-50px);
    }

    .text-box {
        height: 43px;
    }

    a:hover img {
        transform: scale(1.05);
    }

    .text-box p:nth-of-type(1) {
        color: rgb(125, 125, 125);
        font-size: calc(0.9vw);
    }

    a:hover .text-box p:nth-of-type(1) {
        transform: translateY(-27px);
    }

    .text-box p:nth-of-type(2) {
        font-size: calc(1.1vw);
        padding: 3.3% !important;
        margin-top: 25px;
    }

    a:hover .text-box p:nth-of-type(2) {
        transform: translateY(-43px);
    }
}

@media all and (min-width:1400px) {
    .product {
        padding-bottom: 4% !important;
    }

    .product p:nth-of-type(1) {
        font-size: calc(1.3vw + 1px);
        margin-bottom: 4px;
    }

    .product div:nth-of-type(1) {
        margin-bottom: -30%;
    }

    .new {
        font-size: calc(1.2vw);
        top: 0;
        margin: 2.2% 0 0 1.5%;
    }

    .big-product {
        padding-bottom: 6.2% !important;
    }

    .big-product p:nth-of-type(2) {
        font-size: calc(1.2vw + 5px);
        margin-top: -23%;
        margin-bottom: 4px;
    }

    #center-txt-box {
        height: 62px;
        margin-bottom: 0;
    }

    #center-txt-box p:nth-of-type(1) {
        font-size: calc(1.1vw);
    }

    a:hover #center-txt-box p:nth-of-type(1) {
        transform: translateY(-40px);
    }

    #center-txt-box p:nth-of-type(2) {
        font-size: calc(1.1vw);
        padding: 1.8% !important;
        margin: 38px auto 0 auto;
    }

    a:hover #center-txt-box p:nth-of-type(2) {
        transform: translateY(-50px);
    }

    .text-box {
        height: 48px;
    }

    a:hover img {
        transform: scale(1.05);
    }

    .text-box p:nth-of-type(1) {
        color: rgb(125, 125, 125);
        font-size: calc(0.9vw);
    }

    a:hover .text-box p:nth-of-type(1) {
        transform: translateY(-27px);
    }

    .text-box p:nth-of-type(2) {
        font-size: calc(1.1vw);
        padding: 3.3% !important;
        margin-top: 25px;
    }

    a:hover .text-box p:nth-of-type(2) {
        transform: translateY(-48px);
    }
}