* {
    padding:0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(255, 253, 235);
}

.traffic-light {
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 600px;
    border-radius: 60px;
    background-color: rgb(40, 40, 40);
}

.off {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 30px;
    background-color: rgb(100, 100, 100);
}

.off div {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.red {
    display: none;
    background-color: red;
}

.yellow {
    display: none;
    background-color: rgb(255, 238, 0);
}

.green {
    display: none;
    background-color: green;
}

.pole {
    width: 70px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(40, 40, 40);
}

button {
    width: fit-content;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: aliceblue;
    cursor: pointer;
}

.show {
    display: flex;
}