body {
    background-color: black;
}

.nav-parent {
    background-color: rgb(216, 216, 216);
}

.nav-bar button {
    color: black;
}

h1 {
    color: white;
}

.text-box {
    background-color: rgb(80, 80, 80);
}

p {
    color: white;
}

table {
    border: 1px solid white;
}

td, th {
    color: white;
    border: 1px solid white;
}

.bg-1 {
    background-color: rgb(50, 50, 50);
}

.bg-2 {
    background-color: rgb(150, 150, 150);
}

.bg-3 {
    background-color: rgb(120, 120, 120);
}

/* ..............js classes............. */

.right {
    transform: translateX(25px);
}