* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    transition: all 1500ms ease 0s;
}

/* .............modal.................. */

.nav-parent {
    display: flex;
    width: 100%;
    height: 60px;
}

.nav-bar {
    margin: 0 auto;
    display: flex;
    width: 760px;
}

.nav-bar button {
    display: block;
    margin-left:auto;
    font-size: 22px;
    cursor: pointer;
    background-color: transparent;
    transition: all 300ms ease 0s;
}

.nav-bar button:hover {
    color: rgb(150, 150, 150);
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    background-color: rgba(100, 100, 100, 0.4);
    z-index: 1;
    transition: all 450ms ease 0s;
}

.modal-closer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal-box {
    position: relative;
    width: 400px;
    height: 500px;
    margin: 50px auto;
    border-radius: 50px;
    z-index: 3;
    padding: 35px;
    border: 2px solid rgb(175, 175, 175);
    background-color: rgb(216, 238, 233);
}

.modal-box button {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 23px;
    cursor: pointer;
    margin: -10px -10px 0 auto;
    background-color: transparent;
    transition: all 300ms ease 0s;
}

.modal-box button:hover {
    color: rgb(100, 100, 100);
}

.modal-box h2 {
    color: rgb(30,30,30);
    margin-top: 50px;
    margin-bottom: 70px;
}

.modal-box input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 18px;
    border-radius: 6px;
    color: rgb(50, 50, 50);
    box-shadow: 0 0 1px rgb(70, 70, 70) inset;
    background-color: rgb(245, 245, 245);
}

.modal-box input:focus {
    border: 2px solid rgb(62, 93, 197);
}

.modal-box input:nth-last-of-type(2) {
    margin-bottom: 30px;
}

/* ...........theme changer............... */

.btn {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
}

.button-parent {
    position: relative;
    width: 50px;
    height: 25px;
    cursor: pointer;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 30px;
    margin: 30px auto;
}

.button {
    position: absolute;
    width: 22.5px;
    height: 100%;
    border-radius: 50%;
    top: 0;
    background-color: blue;
    transition: all 300ms ease 0s;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 110px;
    margin-top: 45px;
}

.text-box {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    width: 80%;
    padding: 30px 40px;
    margin: 20px auto;
    transition: all 1500ms ease 0s;
}

p {
    line-height: 140%;
    font-size: 18px;
    text-align: justify;
}

table {
    width: 70%;
    height: 250px;
    border-collapse: collapse;
    margin: 30px auto;
    text-align: center;
    transition: all 1500ms ease 0s;
}

td, th {
    transition: all 1500ms ease 0s;
}

tr {
    transition: all 1500ms ease 0s;
}

/* ..............js classes............. */

.right {
    transform: translateX(25px);
}

.hidden {
    display: none;
}

.opacity {
    opacity: 0;
}